footer{
    background-color: $color_nav_footer; /* color de fondo del footer */
    padding-top: 4%; /* borde interno de top */
    padding-bottom: 3%; /* borde interno de bot */
    margin-top: 6%; /* separo siempre 1% el footer del contenido de arriba */
    margin-bottom: 0%;
    
    .footer{
        &__bootstrap{
            font-size: large;
            color: white;
            margin-top: 1%;
        }
    
        &__p{
            font-size: medium; /* le doy un tamaño pequeño */
            color: white; /* cambio el color del texto */
            text-align: center; /* centro el texto */
        }
    }
}