.titulo_pagina{/* titulo para todas las paginas */
    font-family: 'Ibarra Real Nova', serif; /* utilizo el font de google */
    text-align: center; /* centro el texto */
    margin: 2%; /* le doy  un margin para separar de la barra y de la imagen */
    text-shadow: 0px 0px 2px black; /* agrego sombra al texto */
}