.formulario{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    &__contenedor{
        background-color: $color_nav_footer;
        padding: 10px; /* relleno de 10px */
        width: 400px;  /* ancho */
        height: 420px; /* alto */
        border-radius: 16px; /* borde redondo */
        border: 3px solid $color_nav_footer; /* borde de color */
        color: white; /* color del texto */
        font-size: larger; /* tamaño texto */
        
        & div{
            margin: 8px 0px;
        }
    }
    
    &__texarea {
        resize: none; /* impido que el usuario extienda el textarea */
        width: 100% /* ocupa el 100% de ancho */
    }
    
    &__input{
        width: 100%; /* dejo que use el 100% del ancho */
        border-radius: 5px;
    }
    
    &__boton{
        width: 49.3%;  /* le doy un tamaño de 50% */
        display: inline; /* paso a bloque para centrar */
        margin: 2% auto; /* centro */
        border-radius: 5px; /* redondeo un poco */
    }
    
    &__boton:hover{ /* aplico un tranform y trnsition a los botones del form */
        transform: scale(1.10,1.10);/* hago escala a 1.10 de su tamaño original */
        transition: all 0.1s;
    }
    
    &__img-contenedor{
        background-image: url("https://zizihub.com/618d92.png"); /* paso la url de la imagen desde el map */
        background-repeat: no-repeat; /* hago que la imagen no se repita */
        background-size: 100% 100%;
        width: 50%;  /* ancho */
        height: 420px; /* alto */
        margin: 2%;
    }
}

